* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

/*------------------------------Google Map------------------------------*/
.map {
	width:100%;
	height:30em;
}

/*------------------------------Landing Page------------------------------*/
.landing-page {
	height: 100vh;
	background:
		linear-gradient(
			#BEBEBE10,
			#50505090, 
			#000000),
		url(../images/background/landing/bck1.jpg);
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
}
.landing-container {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.landing-container h1 {
	text-transform: uppercase;
}
.landing-container h2 {
	color: #DBDBDB;
	text-transform: capitalize;
}
.landing-container a {
	text-decoration: none;
}
.landing-container button {
	text-transform: uppercase;
	border-style: none;
	border-radius: 10px;
	background-color: #DBDBDB;
}

/*------------------------------ Nav bar ------------------------------*/
.nav-li-drop {
	border-style: none;
}
.nav-a-cart img:hover {
	-webkit-filter: invert(70%);
}
/*------------------------------ Main Container ------------------------------*/
.main-container {
	width: 100%;
	height: auto;
}
.main-wrapper {
	width: 90%;
	height: auto;
	margin: 0 auto;
}
/*------------------------------ Main Footer ------------------------------*/
.main-footer {
	height: auto;
	width: auto;
	display: flex;
	background-color: #343A40;
}
.main-footer a {
	text-decoration: none;
}
.footer-section-1 {
	color: #fff;
	text-transform: uppercase;
}
.footer-section-2 {
	justify-content: center;
	align-items: center;
	display: flex;
}
.footer-section-3 {
	color: #fff;
}
.fo-contact-info-3 {
	justify-content: center;
	text-align: center;
}
.fo-contact-info-1, .fo-contact-info-2, .fo-contact-info-3 {
	display: flex;
}
.fo-contact-info-1 h3 {
	text-transform: uppercase;
}
.fo-contact-info-1 p, .fo-contact-info-3 p {
	font-weight: 100;
	text-transform: capitalize;
}
.fo-contact-info-2 .fo-div-1 img:hover {
	-webkit-filter: invert(70%);
}
/*------------------------------ Home Page ------------------------------*/
.home-wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
}
.home-section-1 .top-hr {
	width: 100%;
	background-color: #343A4050;
}
.home-section-2 {
	width: 100%;
	height: auto;
}
.home-wrapper h1 {
	letter-spacing: .2em;
}
.home-wrapper h1, .head-div, .ho-div-1-1 h4, .ho-media h5 {
	text-transform: uppercase;
}
.ho-div-1, .ho-media {
	text-align: center;
}
.ho-div-1-2 {
	display: flex;
	justify-content: center;
}
.ho-div-1-3 {
	width: 100%;
	display: flex;
}
.ho-div-1-1 img {
	width: 100%;
}
.ho-div-1-1 hr {
	width: 90%;
	background-color: #343A4050;
}
.ho-media p {
	text-align: justify;
}

/*------------------------------ Services Page ------------------------------*/
.service-wrapper {
	width: 100%;
}
.service-section-1 h1 {
	letter-spacing: .2em;
	text-transform: uppercase;
}
.service-section-1 hr {
	width: 100%;
	background-color: #343A4050;
}
.service-section-2{
	height: auto;
}
.se-media {
	text-align: center;
}
.se-media h4 {
	text-transform: uppercase;
}
.se-media hr {
	width: 10%;
	margin: 0 auto;
	background-color: #343A4050;
}
.se-media img {
	width: 100%;
}
.se-media p, h4 {
	color: #343A40;
}

/*------------------------------ Shop Page ------------------------------*/
.shop-wrapper {
	width: 80%;
	margin: 0 auto;
}
.shop-section-1, .shop-section-2, .shop-section-3 {
	width: 100%;
}
.shop-section-1 h1 {
	width: 95%;
	margin: 0 auto;
	text-transform: capitalize;
	font-weight: 700;
}
.shop-section-3 {
	display: flex;
	justify-content: center;
}
.shop-head {
	width: 95%;
	margin: 0 auto;
	display: flex;
}
.shop-info p {
	color: #343A40;
}
.shop-search {
	display: flex;
}
.shop-search input {
	border: 1px solid #343A4040;
}
.shop-search button	{
	color: #343A4090;
	border: 1px solid #343A4025;
	border-radius: 3px;
}
.shop-search button:hover {
	color: #343A40;
	border: 1px solid #343A40;
}
.shop-products {
	width: 95%;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
}
.shop-prod-media {
	border: 1px solid #343A4025;
}
.shop-prod-media p, .prod-btn span, .shop-pagination a {
	color: #343A40;
}
.shop-prod-media img, .prod-media-body {
	width: 100%;
}
.prod-btn {
	border: none;
}
.prod-btn:hover {
	border-radius: 3px;
	border: 1px solid #343A40;
}

/*------------------------------ Career Page ------------------------------*/
.career-section-1 h1 {
	letter-spacing: .2em;
	text-transform: uppercase;
}
.career-section-1 hr, .ca-media hr {
	width: 100%;
	background-color: #343A4050;
}
.ca-div-1 {
	width: 100%;
	height: auto;
}
.ca-div-1 ul li {
	margin-left: 2em;
}
.ca-div-1 h4, ul, li {
	text-transform: capitalize;
}

/*------------------------------ Contact Page ------------------------------*/
.contact-section-2 {
	width: 100%;
	margin: 0 auto;
}
.con-div-1, .con-div-2 {
	margin-top: 2em;
	color: #343A40;
	text-transform: capitalize;
}
.con-div-1-2 {
	display: flex;
}
.con-div-1-2-1 {
	letter-spacing: .2em;
}
.con-div-1-2-1, .con-div-1-2-2, .con-div-1-2-3 {
	margin: 0 .5em;
}
.con-div-1-2-2 img{
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin-bottom: 1em;
}
.con-form-1 {
	padding: 1em;
}
/*i dont fucking know why this interfere with shop page*/
/*.con-form-1 label, input, textarea, button {
	display: block;
}*/
.con-form-1 textarea {
	display: block;
}
.con-form-1 input {
	display: block;
}
.con-form-1 label{
	margin-top: 1em;
	display: block;
}
.con-form-1 input, textarea {
	width: 100%;
	padding: .5em;
}
.con-form-1 input {
	height: 2.5em;
}
.con-form-1 textarea {
	height: 5em;
}
.con-form-1 button {
	width: 5em;
	height: 2.5em;
	margin-top: 2em;
	border-radius: 3px;
	border: 1px solid #343A4060;
	color: #343A4090;
	display: block;
	text-transform: capitalize;
}
.con-form-1 button:hover {
	color: #343A40;
	border: 1px solid #343A40;
}

/*------------------------------ About Page ------------------------------*/
.about-wrapper {
	margin: 0 auto;
}
.about-section-1 {
	text-align: center;
}
.about-section-1 h1 {
	text-transform: uppercase;
}
.about-section-1 hr {
	width: 100%;
	background-color: #343A4050;
}
.ab-div-1, .ab-div-2, .ab-div-3 {
	text-align: center;
}
.ab-div-1 h4, .ab-div-2 h4, .ab-div-3 h4 {
	text-transform: uppercase;
}
.ab-div-2 img {
	border-radius: 50%;
}
.ab-div-1 hr, .ab-div-2 hr, .ab-div-3 hr {
	background-color: #343A4050;
}
/*------------------------------ Medias ------------------------------*/

/*phone*/
@media only screen and (max-width:390px) and (max-width: 670px) {
/*------------------------------Landing Page------------------------------*/
	.landing-container h1 {
		font-size: 2.5em;
		margin-right: -1em;
		letter-spacing: 1em;
	}
	.landing-container h2 {
		font-size: .7em;
		margin-bottom: 3em;
	}
	.landing-container button {
		width: 7em;
		height: 3em;
	}
	.landing-container strong {
		font-size: .7em;
	}

/*------------------------------ Nav bar ------------------------------*/
	.nav-logo {
		width: 2.5em;
		height: 2.5em;
	}
	.nav-cart {
		width: 1.9em;
		height: 1.9em;
	}
	.nav-a-cart {
		top: .8em;
		right: 3.5em;
		position: absolute;
	}
	.nav-menu-link {
		font-size: .9em;
	}
	.toggle-txt {
		font-size: .7em;
	}
/*------------------------------ Main Container ------------------------------*/
	.main-container {
		margin: 7em auto 5em auto;
	}

/*------------------------------ Main Footer ------------------------------*/
	.main-footer {
		display: block;
		height: auto;
	}
	.footer-section-1 {
		padding: 1em;
	}
	.footer-section-1 h3 {
		font-size: 1.5em;
	}
	.footer-section-1 h3, .fo-contact-info-1 .fo-div-1 p {
		letter-spacing: .2em;
	}
	.footer-section-1 h3, .fo-contact-info-1 .fo-div-1 p {
		letter-spacing: .2em;
	}
	.fo-contact-info-1 div {
		margin: .5em .5em;
	}
	.fo-contact-info-1 img, .fo-contact-info-2 img {
		width: 1.3em;
		height: 1.3em;
	}
	.fo-contact-info-1 img {
		display: block;
	}
	.fo-contact-info-2 img {
		display: inline-flex;
	}
	.fo-contact-info-1 img {
		margin-bottom: .95em;
	}
	.fo-contact-info-2 img {
		margin: 1em 1em;
	}
	.fo-contact-info-1 p, .fo-contact-info-2 p {
		font-size: .85em;
	}
	.fo-contact-info-3 p {
		font-size: .85em;
	}
	.fo-contact-info-3 .fo-div-1 {
		padding: .5em;
	}

/*------------------------------ Home Page ------------------------------*/
	.home-section-1 h1 {
		font-size: 2em;
	}
	.head-div{
		font-size: 1.2em;
		margin: 3em auto 2em auto;
	}
	.ho-div-1-1 img {
		height: 18em;
		margin: 1.5em 0;
	}
	.ho-div-1-1 hr {
		margin: 4em auto 0 auto;
	}
	.ho-div-1-1 h4 {
		font-size: 1em;
		letter-spacing: .2em;
	}
	.ho-div-1-1 p {
		font-size: .9em;
	}
	.ho-div-1-2 {
		display: block;
	}
	.ho-div-1-3 {
		display: block;
	}
	.ho-div-1-3 img {
		width: 90%;
		height: 12em;
		margin: .5em auto;
	}
	.ho-media {
		width: 20em;
		height: 20em;
		margin: 0 auto;
	}
	.ho-media p {
		margin-top: 2em;
		padding: 0 1em;
		font-size: .9em;

	}
	.ho-media img {
		width: 40%;
		height: 4em;
		margin-top: 2em;
	}
	.ho-media-2 .doggy {
		width: 70%;
		height: 10em;
		border-radius: 50%;
	}
	.ho-media h5 {
		margin-top: 2em;
		font-size: 1em;
	}

/*------------------------------ Services Page ------------------------------*/
	.se-media h4 {
		font-size: 1em;
	}
	.se-media p {
		font-size: .6em;
	}
	.se-media {
		margin-bottom: 3em;
	}
	.se-media img {
		margin: 1em auto 1em auto;
	}

/*------------------------------ Shop Page ------------------------------*/
	.shop-head {
		display: block;
	}
	.shop-info p {
		margin-top: 1em;
	}
	.shop-search input {
		width: 10em;
		padding: .2em;
	}
	.shop-search button	{
		width: 4em;
		height: 2.2em;
	}
	.shop-prod-media {
		width: 15em;
		height: 20em;
		margin: 1em auto .5em auto;
	}
	.shop-prod-media h5 {
		margin-top: 1.5em;
	}
	.shop-prod-media p {
		line-height: .5em;
	}
	.shop-prod-media img {
		height: 10em;
	}
	.prod-media-body {
		padding: .5em;
	}
	.prod-btn {
		width: 5em;
		height: 2em;
	}
	.prod-btn span {
		font-size: .8em;
	}
	.shop-pagination {
		margin-top: 1em;
	}

/*------------------------------ Career Page ------------------------------*/
	.ca-div-1 img {
		width: 4em;
		height: 4em;
	}
	.ca-media ul, li, p {
		font-size: .8em;
	}

/*------------------------------ Contact Page ------------------------------*/
	.con-div-1-2-2 img{
		width: 1.3em;
		height: 1.3em;
		margin-bottom: .9em;
	}

/*------------------------------ About Page ------------------------------*/
	.about-section-1 h1 {
		letter-spacing: .2em;
	}
	.ab-div-1 {
		margin: 2em auto 0 auto;
	}
	.ab-div-2 {
		margin: 5em auto 0 auto;
	}
	.ab-div-3 {
		margin: 5em auto 0 auto;
	}
	.ab-div-1, .ab-div-2, .ab-div-3 {
		width: 100%;
		height: auto;
	}
	.ab-div-1 h4, .ab-div-2 h4, .ab-div-3 h4 {
		font-size: .9em;
		letter-spacing: .3em;
	}
	.ab-div-2 img {
		width: 7em;
		height: 7em;
		margin: 1em auto;
	}
	.ab-div-1 p, .ab-div-2 p, .ab-div-3 p {
		margin-top: 1em;
		font-size: .7em;
	}
	.ab-div-1 hr, .ab-div-2 hr, .ab-div-3 hr {
		width: 50%;
		margin: 0 auto;
	}

}



/*Hybrid*/
@media only screen and (min-width:411px) and (max-width:750px) {
/*------------------------------Landing Page------------------------------*/
	.landing-container h1 {
		font-size: 3em;
		margin-right: -1em;
		letter-spacing: 1em;
	}
	.landing-container h2 {
		font-size: .8em;
		margin-bottom: 3.5em;
	}
	.landing-container button {
		width: 8.5em;
		height: 3.5em;
	}
	.landing-container strong {
		font-size: .9em;
	}

/*------------------------------ Nav bar ------------------------------*/
	.nav-logo {
		width: 2.5em;
		height: 2.5em;
	}
	.nav-cart {
		width: 1.9em;
		height: 1.9em;
	}
	.nav-a-cart {
		top: .75em;
		right: 4em;
		position: absolute;
	}
	.nav-menu-link {
		font-size: .7em;
	}
	.nav-main-ul {
		margin: 0 auto;
	}
	.toggle-txt {
		font-size: .8em;
	}

/*------------------------------ Main Container ------------------------------*/
	.main-container {
		margin: 10em auto 5em auto;
	}

/*------------------------------ Main Footer ------------------------------*/
	.main-footer {
		display: block;
		height: auto;
	}
	.footer-section-1 {
		padding: 1em;
	}
	.footer-section-1 h3 {
		font-size: 1.5em;
	}
	.footer-section-1 h3, .fo-contact-info-1 .fo-div-1 p {
		letter-spacing: .2em;
	}
	.footer-section-1 h3, .fo-contact-info-1 .fo-div-1 p {
		letter-spacing: .2em;
	}
	.fo-contact-info-1 div {
		margin: .5em .5em;
	}
	.fo-contact-info-1 .fo-div-3 {
		width: 60%;
	}
	.fo-contact-info-1 img, .fo-contact-info-2 img {
		width: 1.3em;
		height: 1.3em;
	}
	.fo-contact-info-1 img {
		display: block;
	}
	.fo-contact-info-2 img {
		display: inline-flex;
	}
	.fo-contact-info-1 img {
		margin-bottom: .95em;
	}
	.fo-contact-info-2 img {
		margin: 0 1em;
	}
	.fo-contact-info-1 p, .fo-contact-info-2 p {
		font-size: .85em;
	}
	.fo-contact-info-3 p {
		font-size: .85em;
	}
	.fo-contact-info-3 .fo-div-1 {
		margin-top: 1em;
		padding: 1em;
	}
/*------------------------------ Home Page ------------------------------*/
	.head-div{
		font-size: 1.2em;
		margin: 3em auto 2em auto;
	}
	.ho-div-1-1 img {
		height: 20em;
		margin: 1.5em 0;
	}
	.ho-div-1-1 hr {
		margin: 4em auto 0 auto;
	}
	.ho-div-1-1 h4 {
		font-size: 1em;
		letter-spacing: .2em;
	}
	.ho-div-1-1 p {
		font-size: .9em;
	}
	.ho-div-1-2 {
		display: block;
	}
	.ho-div-1-3 {
		display: block;
	}
	.ho-div-1-3 img {
		width: 80%;
		height: 12em;
		margin: .5em auto;
	}
	.ho-media {
		width: 20em;
		height: 20em;
		margin: 0 auto;
	}
	.ho-media p {
		margin-top: 2em;
		padding: 0 1em;
		font-size: .9em;
	}
	.ho-media img {
		width: 40%;
		height: 4em;
		margin-top: 2em;
	}
	.ho-media-2 .doggy {
		width: 70%;
		height: 10em;
		border-radius: 50%;
	}
	.ho-media h5 {
		margin-top: 2em;
		font-size: 1em;
	}


/*------------------------------ Services Page ------------------------------*/
	.se-media {
		margin-bottom: 5em;
	}
	.se-media img {
		margin: 1em auto 1em auto;
	}

/*------------------------------ Shop Page ------------------------------*/
	.shop-head {
		display: block;
	}
	.shop-info p {
		margin-top: 1em;
	}
	.shop-search input {
		width: 10em;
		padding: .2em;
	}
	.shop-search button	{
		width: 4em;
		height: 2.2em;
	}
	.shop-prod-media {
		width: 20em;
		height: 20em;
		margin: 1em auto .5em auto;
	}
	.shop-prod-media h5 {
		margin-top: 1.5em;
	}
	.shop-prod-media p {
		line-height: .5em;
	}
	.shop-prod-media img {
		height: 10em;
	}
	.prod-media-body {
		padding: .5em;
	}
	.prod-btn {
		width: 5em;
		height: 2em;
	}
	.prod-btn span {
		font-size: .8em;
	}
	.shop-pagination {
		margin-top: 1em;
	}

/*------------------------------ Career Page ------------------------------*/
	.ca-div-1 img {
		width: 5em;
		height: 5em;
	}
	.ca-media ul, li, p {
		font-size: .9em;
	}

/*------------------------------ Contact Page ------------------------------*/
	.con-div-1-2-2 img{
		width: 1.3em;
		height: 1.3em;
		margin-bottom: 1em;
	}

/*------------------------------ About Page ------------------------------*/
	.about-section-1 h1 {
		letter-spacing: .2em;
	}
	.ab-div-1 {
		margin: 2em auto 0 auto;
	}
	.ab-div-2 {
		margin: 5em auto 0 auto;
	}
	.ab-div-3 {
		margin: 5em auto 0 auto;
	}
	.ab-div-1, .ab-div-2, .ab-div-3 {
		width: 90%;
		height: auto;
	}
	.ab-div-1 h4, .ab-div-2 h4, .ab-div-3 h4 {
		font-size: .9em;
		letter-spacing: .3em;
	}
	.ab-div-2 img {
		width: 7em;
		height: 7em;
		margin: 1em auto;
	}
	.ab-div-1 p, .ab-div-2 p, .ab-div-3 p {
		margin-top: 1em;
		font-size: .7em;
	}
	.ab-div-1 hr, .ab-div-2 hr, .ab-div-3 hr {
		width: 50%;
		margin: 0 auto;
	}
}



/*tablet*/
@media only screen and (min-width:751px) and (max-width:1024px) {
/*------------------------------Landing Page------------------------------*/
	.landing-container h1 {
		font-size: 5em;
		margin-right: -1em;
		letter-spacing: 1em;
	}
	.landing-container h2 {
		font-size: 1.5em;
		margin-bottom: 5em;
	}
	.landing-container button {
		width: 12em;
		height: 4em;
	}
	.landing-container strong {
		font-size: 1.2em;
	}

/*------------------------------ Nav bar ------------------------------*/
	.nav-logo {
		width: 3em;
		height: 3em;
	}
	.nav-cart {
		width: 1.7em;
		height: 1.7em;
	}
	.nav-a-logo {
		margin-left: 1em;
	}
	.nav-main-ul {
		margin: 0 auto;
	}
	.nav-menu-link {
		font-size: .8em;
	}
	.toggle-txt {
		font-size: .7em;
	}

/*------------------------------ Main Container ------------------------------*/
	.main-container {
		margin: 10em auto 5em auto;
	}

/*------------------------------ Main Footer ------------------------------*/
	.footer-section-1 {
		padding: 1em;
	}
	.footer-section-1 {
		width: 40%;
	}
	.footer-section-2 {
		width: 10%;
	}
	.footer-section-3 {
		width: 50%;
	}
	.footer-section-1 h3 {
		font-size: 1.5em;
	}
	.footer-section-1 h3, .fo-contact-info-1 .fo-div-1 p {
		letter-spacing: .2em;
	}
	.fo-contact-info-1 div {
		margin: .5em .5em;
	}
	.fo-contact-info-1 img, .fo-contact-info-2 img {
		width: 1.3em;
		height: 1.3em;
	}
	.fo-contact-info-1 img, .fo-contact-info-2 img {
		display: block;
	}
	.fo-contact-info-1 img {
		margin-bottom: .95em;
	}
	.fo-contact-info-2 img {
		margin: .55em 0;
	}
	.fo-contact-info-1 p, .fo-contact-info-2 p {
		font-size: .85em;
	}
	.fo-contact-info-3 p {
		font-size: .85em;
	}
	.fo-contact-info-3 .fo-div-1 {
		margin-top: 2em;
		padding: 1em;
	}

/*------------------------------ Home Page ------------------------------*/
	.head-div{
		margin: 4em auto 2.5em auto;
	}
	.ho-div-1-1 img {
		height: 35em;
		margin: 2em 0;
	}
	.ho-div-1-1 hr {
		margin: 6em auto;
	}
	.ho-div-1-1 h4 {
		letter-spacing: .3em;
	}
	.ho-div-1-1 p {
		font-size: .9em;
	}
	.ho-div-1-3 {
		margin: 0 auto;
	}
	.ho-div-1-3 img {
		width: 25%;
		height: 10em;
		margin: 0 auto;
	}
	.ho-media {
		width: 20em;
		height: 25em;
		margin: 0 auto;
	}
	.ho-media p {
		margin-top: 2em;
		padding: 0 1em;
		font-size: .9em;
	}
	.ho-media img {
		width: 40%;
		height: 4em;
		margin-top: 2em;
	}
	.ho-media-2 .doggy {
		width: 70%;
		height: 10em;
		border-radius: 50%;
	}
	.ho-media h5 {
		margin-top: 2em;
		font-size: 1em;
	}

/*------------------------------ Services Page ------------------------------*/
	.se-media {
		margin-bottom: 5em;
	}
	.se-media img {
		margin: 2.5em auto 1em auto;
	}

/*------------------------------ Shop Page ------------------------------*/
	.shop-info {
		width: 50%;
	}
	.shop-search {
		width: 50%;
		justify-content: flex-end;
	}
	.shop-info p {
		margin-top: 1.1em;
	}
	.shop-search form {
		margin-top: .7em;
	}
	.shop-search input {
		width: 10em;
		padding: .2em;
	}
	.shop-search button	{
		width: 4em;
		height: 2em;
	}
	.shop-prod-media {
		width: 15em;
		height: 20em;
		margin: 1em auto .5em auto;
	}
	.shop-prod-media h5 {
		margin-top: 1.5em;
	}
	.shop-prod-media p {
		line-height: .5em;
	}
	.shop-prod-media img {
		height: 10em;
	}
	.prod-media-body {
		padding: .5em;
	}
	.prod-btn {
		width: 5em;
		height: 2em;
	}
	.prod-btn span {
		font-size: .8em;
	}
	.shop-pagination {
		margin-top: 1em;
	}

/*------------------------------ Career Page ------------------------------*/
	.career-section-1, .ca-div-1 {
		width: 80%;
		margin: 0 auto;
	}
	.ca-div-1 img {
		width: 8em;
		height: 8em;
	}

/*------------------------------ Contact Page ------------------------------*/
	.contact-section-2 {
		width: 70%;
	}

/*------------------------------ About Page ------------------------------*/
	.about-section-1 h1 {
		letter-spacing: .2em;
	}
	.ab-div-1 {
		margin: 3em auto 0 auto;
	}
	.ab-div-2 {
		margin: 10em auto 0 auto;
	}
	.ab-div-3 {
		margin: 10em auto 0 auto;
	}
	.ab-div-1, .ab-div-2, .ab-div-3 {
		width: 70%;
		height: auto;
	}
	.ab-div-1 h4, .ab-div-2 h4, .ab-div-3 h4 {
		letter-spacing: .4em;
	}
	.ab-div-2 img {
		width: 10em;
		height: 10em;
		margin: 2em auto;
	}
	.ab-div-1 p {
		margin-top: 2em;
	}
	.ab-div-1 hr, .ab-div-2 hr, .ab-div-3 hr {
		width: 50%;
		margin: 0 auto;
	}
}



/*desktop*/
@media only screen and (min-width:1025px) {
/*------------------------------Landing Page------------------------------*/
	.landing-container h1 {
		font-size: 7em;
		margin-right: -1em;
		letter-spacing: 1em;
	}
	.landing-container h2 {
		margin-bottom: 6em;
	}
	.landing-container button {
		width: 13em;
		height: 5em;
	}
	.landing-container strong {
		font-size: 1.2em;
	}

/*------------------------------ Nav bar ------------------------------*/
	.nav-logo {
		width: 3em;
		height: 3em;
	}
	.nav-cart {
		width: 2em;
		height: 2em;
	}
	.nav-a-logo {
		margin-left: 1em;
	}
	.nav-main-ul {
		margin: 0 auto;
	}
	.nav-menu-link {
		font-size: 1em;
	}
	
/*------------------------------ Main Wrapper ------------------------------*/
	.main-wrapper {
		margin: 10em auto;
	}
/*------------------------------ Main Footer ------------------------------*/
	.footer-section-1 {
		padding: 2em;
	}
	.footer-section-1 {
		width: 35%;
	}
	.footer-section-2 {
		width: 10%;
	}
	.footer-section-3 {
		width: 55%;
	}
	.footer-section-1 h3, .fo-contact-info-1 .fo-div-1 p {
		letter-spacing: .2em;
	}
	.fo-contact-info-1 div {
		margin: .5em .5em;
	}
	.fo-contact-info-1 img, .fo-contact-info-2 img {
		width: 1.5em;
		height: 1.5em;
	}
	.fo-contact-info-1 img, .fo-contact-info-2 img {
		display: block;
	}
	.fo-contact-info-1 img {
		margin-bottom: .95em;
	}
	.fo-contact-info-2 img {
		margin: .5em 0;
	}
	.fo-contact-info-3 .fo-div-1 {
		margin-top: 2.5em;
		padding: 1em;
	}


/*------------------------------ Home Page ------------------------------*/
	.head-div{
		margin: 5em auto 3em auto;
	}
	.ho-div-1-1 img {
		height: 50em;
		margin: 3em 0;
	}
	.ho-div-1-1 hr {
		margin: 10em auto 0 auto;
	}
	.ho-div-1-1 h4 {
		letter-spacing: .4em;
	}
	.ho-div-1-3 {
		margin: 0 auto;
	}
	.ho-div-1-3 img {
		width: 25%;
		height: 13em;
		margin: 0 auto;
	}
	.ho-media {
		width: 20em;
		height: 25em;
		margin: 0 auto;
	}
	.ho-media p {
		margin-top: 2em;
		padding: 0 1em;
	}
	.ho-media img {
		width: 50%;
		height: 5em;
		margin-top: 2em;
	}
	.ho-media-2 .doggy {
		width: 60%;
		height: 10em;
		border-radius: 50%;
	}
	.ho-media h5 {
		margin-top: 2em;
	}

/*------------------------------ Services Page ------------------------------*/
	.se-media {
		margin-bottom: 10em;
	}
	.se-media img {
		width: 80%;
		height: 35em;
		margin: 5em auto 2em auto;
	}

/*------------------------------ Shop Page ------------------------------*/
	.shop-info {
		width: 50%;
	}
	.shop-search {
		width: 50%;
		justify-content: flex-end;
	}
	.shop-info p {
		margin-top: 1em;
	}
	.shop-search form {
		margin-top: .5em;
	}
	.shop-search input {
		width: 15em;
		padding: .5em;
	}
	.shop-search button	{
		width: 5em;
		height: 2.7em;
	}
	.shop-prod-media {
		width: 13em;
		height: 20em;
		margin: 1em 0 .5em 3em;
	}
	.shop-prod-media h5 {
		margin-top: 1.5em;
	}
	.shop-prod-media p {
		line-height: .5em;
	}
	.shop-prod-media img {
		height: 10em;
	}
	.prod-media-body {
		padding: .5em;
	}
	.prod-btn {
		width: 5em;
		height: 2em;
	}
	.prod-btn span {
		font-size: .8em;
	}
	.shop-pagination {
		margin-top: 1em;
	}
/*------------------------------ Career Page ------------------------------*/
	.career-section-1, .ca-div-1 {
		width: 80%;
		margin: 0 auto;
	}
	.ca-div-1 img {
		width: 10em;
		height: 10em;
	}

/*------------------------------ Contact Page ------------------------------*/
	.contact-section-2 {
		width: 70%;
		display: flex;
	}
	.con-div-1, .con-div-2 {
		width: 45%;
		margin: 0 auto;
	}

/*------------------------------ About Page ------------------------------*/
	.about-wrapper {
		width: 80%;
	}
	.about-section-1 h1 {
		letter-spacing: .2em;
	}
	.ab-div-1 {
		margin: 3em auto 0 auto;
	}
	.ab-div-2 {
		margin: 10em auto 0 auto;
	}
	.ab-div-3 {
		margin: 10em auto 0 auto;
	}
	.ab-div-1, .ab-div-2, .ab-div-3 {
		width: 70%;
		height: auto;
	}
	.ab-div-1 h4, .ab-div-2 h4, .ab-div-3 h4 {
		letter-spacing: .8em;
	}
	.ab-div-2 img {
		width: 10em;
		height: 10em;
		margin: 2em auto;
	}
	.ab-div-1 p {
		margin-top: 2em;
	}
	.ab-div-1 hr, .ab-div-2 hr, .ab-div-3 hr {
		width: 50%;
		margin: 0 auto;
	}
}